body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #56a6dc;
}

.container {
    max-width: 500px;
    margin: 0 auto; /* Center horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center vertically and horizontally */
    padding: 75px;
    border: 1px solid #000000;
    background: linear-gradient(to bottom, #036db5, #56a6dc);
    border-radius: 30px;
}

h1 {
    color: #333;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}


